<%- include("templates/header") %>
    <div class="container mt-4">
        <h1 class="mb-3">Administration</h1>
         <hr style="border: 1px solid black;">
        <%- include("templates/users", { users: users }) %>
    </div>
<%- include("templates/footer") %>
