<%- include("templates/header") %>
<body>
    <form action="/signup" method="get" style="display: inline;">
        <button type="submit" style="margin-right: 10px;">Sign up</button>
    </form>
    <form action="/login" method="get" style="display: inline;">
        <button type="submit">Log in</button>
    </form>
</body>
<%- include("templates/footer") %>