<%- include("templates/header") %>
<body>
    <p>Log in</p>
    <hr style="border: 1px solid black;">
    <form action="/loginSubmit" method="post">
        <input name="email" type="email" placeholder="email"><br><br>
        <input name="password" type="password" placeholder="password"><br><br>
        <button type="submit">Submit</button>
    </form>
    <div style="height: 40px;"></div>
</body>
<%- include("templates/footer") %>