<!DOCTYPE html>
<html>
<head><title>Members Area</title></head>
<body>
    <p>Hello, <%= username %>.</p>
    <br>
    <img src="/<%= randomImg %>" alt="randomImg" style="max-width:250px;">
    <br><br>
    <form action="/logout" method="get">
        <button type="submit">Sign out</button>
    </form>
</body>
</html>
