<!-- Footer -->
<style>
    .footer {
    background-color: #5C6784;
    color: #fff;
    padding: 20px 0;
}

.footer p {
    margin-bottom: 0;
}
</style>
<footer class="footer text-center">
    <div class="container">
        <p>Copyright &copy; 2025. All rights reserved.</p>
        <p>Designed with <span class="text-danger">&hearts;</span> by Kevin Romero</p>
    </div>
</footer>